/*  globale classes*/

/*
the page color
whit: #fff;
orange :#FF9800;
black : rgba(0,0,0);



*/



/*start global styles*/

html{
  font-size: 16px;
}
body{
  font-family: 'Cairo', sans-serif!important;
  direction: rtl;
  text-align:right;
}
ul{
  list-style: none;
}
.ltr{
  direction: ltr;
}
.pad-0{
  padding: 0;
  color: w
}
.mar-0{
  margin: 0;
}
.my-row{
  justify-content: center;
  margin-right: 0;
}
.col-6,.col-md-3{
  margin-right: 0;
}
.btn {
  background-color: #E53004;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0 10px;
  border: 1px solid  #E53004;
  padding: 0.175rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: all .15s ease-in-out,
}
.btn:hover,.btn:focus,
.btn:active{
  border: 1px solid  #E53004;
  background-color: #E53004;
  opacity: .8; 
}
.btn:focus
,.btn:active{
  box-shadow: 0 0 0 0.2rem rgb(255 152 0 / 38%);
}
/*end global styles*/
                  /*start header and nav bar*/

/*start top nav icon*/
.top-bar {  
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0))
}
.top-bar a{
  color: #fff;
  transition: all .3s ease-in-out;
}
.top-bar a:hover{
  color: #FF9800;
  opacity: .8;
  transform: scale(1.2,1.2);
}
.top-bar-btn a:hover{
  transform: scale(1.1,1)!important; 
  color: #fff!important;
  opacity: 1;
}
        /* start search box*/
.search-box{
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: none;
}
.searsh-baxContant{
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
}
.searshForm{
  padding: 27px 60px 27px 10px;
  text-align: center;
  position: relative;
}
.searshForm input[type="text"] {
  border-radius: 3px;
  border: 1px solid #08487e;
  background: #FFF;
  padding: 7px 50px 7px 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  color: #313131;   
  box-shadow: none;
  width: 100%;
}
.btn-close a{
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 300;
  transition: all .3s ease-in-out;
}
.btn-close a:hover{
  opacity: .8;
}
.searshForm button {
  position: absolute;
  right: 60px;
  border-radius: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.searshForm button:focus{
  border: 0!important;
  outline: 0;
}
.btnSearsh-close{
  display: block;
  position: absolute;
  right: 0;
  top: 17px;
  cursor: pointer;
}
.btn-close{
  margin: 0;
  line-height: 40px;
}
        /*  end search box*/

/* start nav bar for larg screen   */

.my-nav{
  background-color: transparent!important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.2rem
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #FF9800;
  opacity: .8;
}
/* end nav bar for larg screen   */
                    /*start side nav */

.mnue-btn{
  font-size:30px;
  cursor:pointer;
  position: absolute;
  top: 20px;
 right: 50px;
  color: #ffff;
  display: none;
}
.mnue-btn:hover{
  opacity: .8;
}
#mySidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0 0 0px;
}
.sidenav .nav-item a {
  margin-left: 20px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.sidenav .nav-item a:hover {
  color: #111;
  border-bottom: 1px solid #111;
}
.closebtn{
  border: 0;
  text-decoration: none;
}
.closebtn:hover{
  text-decoration: none;
}
.sidenav i{
  border: 0!important;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
    /*end side nav */
/*strt header capption*/
.main-header{
  height: 100vh;
  background-image: url(../img-shohnty/image6.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  
}
.all-main-header{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
  color: #fff;
    position: relative;
  
}
.min-header{
  position: relative;
}
.my-header{ 
  width: 100%;


}
  .log-list p{
  margin: 20px;
  
}
.log-list p::before {content: "";
  background-color: rgb(229, 48, 4);
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 50%;
 outline:  rgb(229, 48, 4); 
  
}
.log-smallTitle h5{

color: rgb(229, 48, 4); 
}
.smallTitle h5{background-color: rgb(229, 48, 4);
padding: 5px;}
.side-logo{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 600px;
  height: 600px;
  border: 300px solid  transparent;
  border-bottom: 300px solid rgba(229, 48, 4, .5);
  border-right: 300px solid rgba(229, 48, 4, .5);
 

}
.side-logo-img{
  position: absolute;
  right: 0;
  bottom: -105;
}
.side-logo-img img{
  width: 300px;
  margin-left: -50px
}
.all-titl{
  width: 100%;
  padding-top: 15vh;
}
.my-header h1{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  line-height: 2em;
  display: none;
    z-index: 5;
}
.my-header h2{  
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Cairo', sans-serif!important;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5em;
     z-index: 5;
  }
.title-btn{
  width: 350px;
  margin: 20px auto;
}
.btn-sign,.btn-signA{
  color: #fff;
  width: 150px;
  padding:0.375rem 0;
  margin: 20px 10px;  
}
.btn-sign{
  border: 1px solid  #484848;
  background-color: #484848; 
  color: #fff;
  margin-right: 0;
}
.btn-signA{
  padding: 0.375rem 1.7rem;
  margin-left: 0;
}
/* end header capption*/

              /******** start all body style *******/

/*start sirves section*/

.all-sirves{
  background-image: url(../img/Transparent-background-with-dots.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blue-part{
  background-color: #E53004;
  background-image: url(../img/Transparent-background-with-dots.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
}
.about-work{
  padding: 10px;
  color: #fff;
}
.about-work i,.work-icon i{font-size: 2rem;}
.allOur-sirves{
  
   
  background-image: url(../img-shohnty/image25.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.our-sirves{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.9)); 
}

.our-sirvesTitle{
padding: 50px 0;
  color: #fff;
  text-align: center;
 
}
.our-sirvesTitle h3{
    font-size: 2.5rem;
  
}
.work-card{margin-top: 20px;}
.sirves-card{
  text-align: center;
  padding: 50px 5px 0;
  margin: 10px 10px 20px;
 color: #fff;

}
.sirves-card i{
  color:#E53004;
margin-bottom: 40px;
  font-size: 3rem;
}
.sirves-title{padding: 30px 15px;}
.sirves-image{margin-top: 30px;}
.sirves-title h6,.clint-box h6,.values-titl h6{
  font-size: 1.4rem;
  line-height: 3em;
}
/*end sirves section*/




.logistic{
padding: 50px;
  background-color: #090E16;
  color: #fff;

}
.log-largTitle,.log-pragrraph,.log-smallTitle,.log-list{
  padding: 20px;
}
/*start logist sirves section*/
.logist-sirves{
  background-image: url(../img-shohnty/image15.jpg);
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
height: 900px;

}
/*end logist sirves section*/


/*start clints section*/
.clints{
  margin-top: -85px;
  background-image: url(../img/clint-2.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.our-clints{
  background-color: rgba(255, 153, 0,.5);
  width: 100%;
  color: #fff;
  padding: 60px 0 80px;
}
.clint-card{
  background-color: rgba(0, 0, 0,0.3);
  padding: 20px 10px;
  text-align: right;
  margin: 10px 0;
}
.work-letter h6{
  color:#E53004;
}
.work-letter p{
text-align: justify;
}

.clint-card i{
  color:  rgba(255,255,255,0.4);
}
.ourFamous-clients{
  margin: 10px 0;
  padding: 50px 0 0;
  opacity: .8;
}
.ourFamous-clients img{
  margin: 10px 0;
}
/*end clints section*/
/*start values section*/
.values{
  padding: 50px 0;
    background-color: #090E16;
}
.values i{
  color: rgba(255,153,0,0.4)
}
.values-image{
  margin-top: -135px;
}
.values-titl{
  padding-bottom: 30px;
}
/*start number part*/
.packages-delivered{
  text-align: center;
  padding: 30px 10px;
}

.all-numbers{
  background-color: #090E16;
  color: #fff;
}

.my-number span{
  font-size: 3.5rem;
color:#E53004;
  font-weight: 500;
}
.packages-titl p{
  font-size: 1.1rem;
  font-weight: 600;
}
.packages-text p{
  font-size: .9rem;
}
/*end values section*/
/*start our news*/
.news-card{
  border: 1px solid rgba(0,0,0,.5);
  padding: 20px;
  background-color: #fff;
  margin: 20px 0;
}
.card-img-top{
  height: 250px;
  border-bottom: 4px solid #E53004;
}
.card-body {
background-color: #090E16;
  color: #fff;
}
.news{
background-color: #090E16;
  padding: 50px 0 0;
}
.card-body h6{
  
  color: #E53004; 
  text-align: center;
  line-height: 400%;
  
}
.carousel-caption h2{
color: #E53004; 
}
.work-news{
  padding: 50px 0;
}
/*end values section*/
/*start all map section*/
.all-map{
  position: relative;
}
.all-map-text{
position: absolute;
  top: 50px;
  right: 100px;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  padding:  0 10px;
  border-radius: 5px;
  
}
.card-btn a{
  color:#E53004;
}
.all-mapCard{
  padding: 20px 30px;
  text-align: center;
}
.all-mapCard a,.card-btn a{
color:#E53004;
  text-decoration: none;
  font-size: 2rem;
  transition: all .3s ease-in-out;
}

.all-mapCard a:hover{
opacity: .8;
  
}

/*end map section*/


/*start links list*/
.linkes{
  background-color:#090E16;
 
  padding: 50px 50px 0;
}
.shear-titl h4{
  line-height: 200%;
  color: #E53004;;
  font-weight: 600;
}
.lin{
  width: 80px;
  border: 2px solid #E53004;;
  margin-bottom: 15px;
}
.last-shear{
  padding: 20px;
}
.last-shear img{
  max-width: 80px;
}
.last-shear a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
.last-shear p{
  font-size: .7rem;
  font-weight: 300;
  color: #fff;
}
.lastShear-img{
  margin: 10px 0 0 0 ; 
}
.linkes ul{padding: 0;}
.my-socual a{
  font-size: .8rem;
  padding-right: 0;
  color: #fff;
  opacity: .8;
}
.my-socual a:hover{
  opacity: .6;
  text-decoration: none;
}
.my-socual p{
  color: #fff;
  font-size: .7rem;
}
.my-quek-linkes a{
  color: #f1f1f1;
}
.my-quek-linkes a:hover{
  opacity: .8;
  text-decoration: none;
}
/*end links list*/
/*start footer style*/
footer{
  margin: 30px 0 0;
  padding: 10px ;
  font-size: .8rem;
  
  border-top: 1px solid rgba(255,255,255,.5);
  color: #fff;
  text-align: left;
}
footer a{
  color: #555;
  text-decoration: none;
}
footer a{
  color: #555;
  opacity: .7;
  
}
/*end footer and end hoom paage*/